#recco {
   
  margin-top: -150px;
}
#recco .wrap {
   
  width: 1200px;
}
#recco .wrap article {
  width: calc(100% / 2);
}
#recco .wrap .recruit {
   
  position: relative;
}
#recco .wrap .recruit::before{
  content: "";
  background-image: url(../img/recruit.png);
  width: 305px;
  height: 724px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top: -35px;
  right: 0;
}
#recco .wrap .recruit::after{
  content: "";
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 305px;
  display: block;
  position: absolute;
  bottom: 0px;
}
#recco .wrap .recruit hgroup {
   
}
#recco .wrap .recruit hgroup h2 {  
  background-color: #e7e7e5;
  padding: 170px 0;
  padding-left: 100px;
  color: black;
}
#recco .wrap .recruit hgroup p {
   
  margin-left: 100px;
  margin-top: 90px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
#recco .wrap .recruit>*:not(hgroup){
  margin-left: 100px;
}
#recco .wrap .recruit p {
   
  line-height: 2;
  position: relative;
  z-index: 1;
}
#recco .wrap .recruit a.moreCir {
   margin-bottom: 67px;
   margin-top: 30px;
   position: relative;
   z-index: 1;
}
#recco .wrap .corpo {  
  justify-content: center;
  text-align: center;
  gap: 25px;
  position: relative;
  background-image: url(../img/corpo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#recco .wrap .corpo::after{
  content: "";
  border: 2px solid #eee;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: block;
  /*! left: calc(40px / 2); */
  top: calc(40px / 2);
}
#recco .wrap .corpo hgroup {
   
  flex-direction: column-reverse;
  display: flex;
  gap: 15px;
}
#recco .wrap .corpo hgroup h2 {
   
  line-height: 1.4;
}
#recco .wrap .corpo hgroup p {
   
  font-size: 16px;
}
#recco .wrap .corpo a.moreCir {
}