@media screen and (max-width:1140px){
  .paddingT50{
    padding-top: 20px;
  }
  .paddingT100{   
  padding-top: 20px;
  }
  .marginB50{
    
  margin-bottom: 30px;
  }
  .more{
    
  width: 140px;
  height: 45px;
  }
  .wrap{
    
  padding-left: 15px;
  padding-right: 15px;
  }
  header{   
  top: 0;
  animation-name: none;
  }
  header div.wrap{    
  background-color: transparent;
  width: 100%;
  animation-name: none;
  }
   header div.wrap nav h1{
    
  background-color: transparent;
  }
  header div.wrap nav h1 a{
    color:white;
    
    font-size: 16px;
  }
  header div.wrap nav h1 a span{
    
  background-image: url(../img/logo-white.png);
  width: 32px;
  margin-left: 10px;
  }
  header div.wrap nav ul.gnb{   
  display: none;
  }
  div.wgnb{
    display: none;
  }
  header div.wrap nav > div.flex:nth-of-type(1){   
  display: none;
  }
  .ham{
    
  width: 30px;
  height: 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  display: block;
  }
  .ham::before{
  display: inline-block;  
  height: 2px;
  transform: translateY(7px);
  }
/*  타이틀  */
  div#title{   
  min-height: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  div#title div.wrap{

  }
  div#title div.wrap hgroup{
  line-height: 1.4;
  }
  div#title div.wrap hgroup h2{
    
  font-size: 18px;
  }
  div#title div.wrap hgroup h3{
  font-size: 35px;
  }
  div#title div.wrap a.scroll{
    
  bottom: 50px;
  width: 55px;
  height: 55px;
  }
  div#title div.wrap a.scroll::before{
    
  height: 20px;
  }
  div#title div.wrap a.scroll::after{
    
  border: 2px solid white;
  border-top-color: white;
  border-left-color: white;
  width: 12px;
  height: 12px;
  border-left-color: transparent;
  border-top-color: transparent;
  margin-top: -17px;
  }
  @keyframes updown{
  0%{ /* 시작 */
    transform: translateY(0px);
  }
  50%{
    transform: translateY(7px);
  }
  100%{ /* 끝  */
    transform: translateY(0px);
  }
}
@keyframes upddown{
  0%{ /* 시작 */
    transform: translateY(0px) rotate(45deg);
  }
  50%{
    transform: translateY(7px) rotate(45deg);
  }
  100%{ /* 끝  */
    transform: translateY(0px) rotate(45deg);
  }
}
/* 메인영역 (비지니스) */
  .paddingB100{
    
  padding-bottom: 50px;
  }
  section#business div.wrap{
    
  padding-top: 50px;
  }
  section#business div.wrap h2{
    
  width: 100%;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  }
  section#business div.wrap article{
    
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  }
  section#business div.wrap article h3{
    
  order: 2;
  color: black;
  margin-top: 20px;
  font-size: 17px;
  }
  section#business div.wrap article h3 span{
    
  font-weight: lighter;
  margin: 10px 0;
  font-size: 26px;
  }
  section#business div.wrap article p{
    
  order: 3;
  color: #666;
  }
  section#business div.wrap article p span{
    
  display: initial;
  }
  section#business div.wrap article a{
    
  order: 4;
  font-size: 13px;
  align-items: center;
  display: flex;
  justify-content: center;
  }
  section#business div.wrap article a:hover::after{
    
  width: 120%;
  }
  section#business div.wrap article:nth-of-type(1)::after{  
  position: static;
  order: 1;
  width: 100%;
  height: 61.40350877192982vw;
  }
  section#business div.wrap article:nth-of-type(2){
    width: 100%;
    padding: initial;
    padding: 50px 0;
  }
  section#business div.wrap article:nth-of-type(2)::before{
    position: static;
    order: 1;
    width: 100%;
    height: 59.64912280701754vw;
  }
  section#business div.wrap article:nth-of-type(2) a{
    color: black;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
  }
  section#business div.wrap article:nth-of-type(2)::after{
    display: none;
  }
  section#business div.wrap article:nth-of-type(2) a::after{
    content: "";
    width: 0%;
    height: 100%;
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    transform: skewX(-30deg);
    transform-origin: 0 0;
  }
  section#business div.wrap article:nth-of-type(2) a:hover::after{
    width: 120%;
  }
  section#business div.wrap article:nth-of-type(2) a:hover{
    border-color: black;
    color: white;
  }
  section#business div.wrap article:nth-of-type(2) p{
    color: #666;
  }
  section#business div.wrap article:nth-of-type(3){  
  padding: 17.54385964912281vw 0;
  padding-left: 15px;
  }
  section#business div.wrap article:nth-of-type(3) h3, section#business div.wrap article:nth-of-type(3) a, section#business div.wrap article:nth-of-type(3) p{
    color: white;
  }
/* 그린 카이   */
  section#green div.wrap{
    
  }
  section#green div.wrap h2{
    
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 300;
  }
  section#green div.wrap ul{
    
  flex-direction: column;
  }
  section#green div.wrap ul li{
    
  width: auto;
  }
  section#green div.wrap ul li::before{
    
  height: 39.47368421052632vw;
  }
  section#green div.wrap ul li h3{
   
  font-size: 20px;
  line-height: 2.5;
  font-weight: 500;
  }
  section#green div.wrap ul li p{
    
  margin-bottom: 15px;
  color: #666;
  }
  section#green div.wrap ul li p span{
    
  display: initial;
  }
  section#green div.wrap a.siteview{
    
  margin: initial;
  font-size: 13px;
  width: 140px;
  height: 45px;
  }
  section#green div.wrap a.siteview::after{
    
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  }
/* 어바웃   */
  section#about div.wrap ul{
    
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  gap: 30px;
  }
  section#about div.wrap ul li{
    
  width: 100%;
  margin-bottom: 15px;
  }
  section#about div.wrap ul li figure{
    
  }
  section#about div.wrap ul li figure svg{
    
  height: 60px;
  width: 60px;
  }
  section#about div.wrap h2{
    
  font-weight: 300;
  font-size: 28px;
  margin-top: 20px;
  }
  section#about div.wrap ul li h3{
    font-size: 17px;
    line-height: 2.4;
  }
  section#about div.wrap ul li p{
    color: #666;
  }
  section#about div.wrap ul li p span{
    
  }
/*  채용영역  */
  section#recor{
    
  margin-top: auto;
  }
  section#recor div.wrap{
    
  flex-direction: column;
  }
  section#recor div.wrap article{
    width: auto;
  }
  section#recor div.wrap article.recruit{
    
 
  }
  section#recor div.wrap article.recruit hgroup h2{
    
  padding: 15.78947368421053vw 0px;
  padding-left: 8.771929824561404vw;
  color: #eee;
  }
  section#recor div.wrap article.recruit hgroup h3{
    
  font-size: 18px;
  margin-left: 8.771929824561404vw;
  margin-top: 8.771929824561404vw;
  margin-bottom: 2.63157894736842vw;
  }
  section#recor div.wrap article.recruit p{
    
  font-weight: 300;
  margin-left: 8.771929824561404vw;
  }
  section#recor div.wrap article.recruit::before{

  width: 28.33333333333333vw;
  height: 67.45614035087719vw;
  background-repeat: no-repeat;
  background-size: contain;
  }
  section#recor div.wrap article.corporate{
    
  height: 79.947vw;
  background-repeat: no-repeat;
  }
  section#recor div.wrap article.corporate::before{
    
  border: 1px solid white;
  }
  section#recor div.wrap article.recruit a.morecir{
    
  margin-bottom: 8.771929824561404vw;
  margin-top: 2.631578947368421vw;
  margin-left: 8.771929824561404vw;
  }
  section#recor div.wrap article.recruit > :not(hgroup){
    
  }
  section#recor div.wrap article.recruit::after{
    
  height: calc(100% - 34.64912280701754vw);
  }
  section#recor div.wrap article.corporate hgroup h2{
    gap: 10px;
    font-weight: lighter;
    font-size: 22px;
  }
  section#recor div.wrap article.corporate hgroup h3{
    font-size: 14px;
    font-weight: 300;
  }
  section#recor div.wrap article.corporate hgroup{
    gap: 10px;
  }
/*  뉴스  */
  section#news div.wrap{
    
  padding-top: 20px;
  padding-bottom: 20px;
  }
  section#news div.wrap article{
    
  width: 100%;
  margin-bottom: 25px;
  }
  section#news div.wrap article a{  
  display: block;
  padding-bottom: 25px;
  }
  section#news div.wrap article a time{
    
  display: block;
  color: #999;
  }
  section#news div.wrap article a:hover{
    border-color: #ccc;
  }
  section#news div.wrap article a time span{
    
  font-size: inherit;
  }
  section#news div.wrap article a:hover time{
    
  color: #666;
  }
  section#news div.wrap h2{
    
  font-weight: 300;
  font-size: 28px;
  }
  section#news div.wrap article a h3{
    
  font-size: 17px;
  }
  section#news div.wrap article a h3::before{
    
  font-size: 13px;
  margin-right: 10px;
  }
  section#news div.wrap article a p{
    
  color: #666;
  line-height: 2.5;
  }
  section#news div.wrap article a time{
    
  color: #666;
  font-size: 14px;
  }
  section#news div.wrap article a span.morecir{
    
  display: none;
  }
  section#news div.wrap a.newslist{
    
  font-size: 13px;
  width: 70px;
  }
  section#news div.wrap a.newslist:before{
    
  margin-right: 6px;
  width: 17px;
  height: 17px;
  }
/*  주가정보  */
  section#stockir div.wrap{
    
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
  }
  section#stockir div.wrap article.stock{
    
  width: auto;
  border-right: none;
  border-bottom: 1px solid #ccc;
  padding-right: initial;
  padding-bottom: 30px;
  }
  section#stockir div.wrap article.stock h2{
    
  margin-bottom: 15px;
  font-size: 18px;
  }
  section#stockir div.wrap article.stock p.price{
    
  }
  section#stockir div.wrap article.stock>time{
    color: #9a9a9a;
  }
  section#stockir div.wrap article.stock p.up{
    color: #9a9a9a;
  }
  section#stockir div.wrap article.ir{
    
  width: auto;
  padding-left: initial;
  }
  section#stockir div.wrap article.ir h2{
    
  margin-top: 25px;
  font-size: 17px;
  margin-bottom: 15px;
  }
  section#stockir div.wrap article.ir ul{
    
  }
  section#stockir div.wrap article.ir ul li:nth-child(1){
    
  }
  section#stockir div.wrap article.ir ul li .p{
    color: #9a9a9a;
  }
  section#stockir div.wrap article.stock time{
  }
/*  오피스  */
  #office .wrap{
   padding-left: 0;
   padding-right: 0;
  }
  #office .wrap ul{
   height: 28.50877192982456vw;
  }
  section#office div.wrap ul li a hgroup h3{
    font-size: 15px;
  }
  section#office div.wrap ul li a hgroup h4{
    font-size: 15px;
  }
  section#office div.wrap ul li a span.arrow{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
  }
/*  하단  */
  footer div.wrap{
    
  display: flex;
  flex-direction: column;
  }
  footer div.wrap ul.fnb{
    
  order: 1;
  justify-content: center;
  gap: 10px;
  }
  footer div.wrap ul.fnb li{
    
  }
  
  footer div.wrap ul.fnb li a{
    color: #9a9a9a;
    font-weight: 300;
  }
  footer div.wrap address{
    
  order: 3;
  font-size: 12px;
  font-weight: 300;
  }
  footer div.wrap address span{
    
  }
  footer div.wrap address span a{
    
  }
  footer div.wrap p.copyright{
    
  order: 4;
  font-size: 10px;
  color: #9a9a9a;
  }
  footer div.wrap div.corp{
    
  order: 2;
  border-top: 1px solid #666;
  padding-top: 15px;
  }
  footer div.wrap div.corp ul{
    
  display: flex;
  justify-content: center;
  gap: 14px;
  transform: scale(0.8);
  }
  footer div.wrap div.corp ul li{
    
  }
  footer div.wrap div.corp ul li:nth-child(2){
    border-right: 1px solid #9a9a9a;
    border-left: 1px solid #9a9a9a;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  footer div.wrap div.corp ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  footer div.wrap div.corp ul li a::before{
    margin: 0
  }
  .morecir{
    
  width: 25px;
  height: 25px;
  }
  .morecir::before{
    
  width: 5px;
  height: 5px;
  }
  footer a.Btop{
    width: 50px;
    height: 50px;
    right: 15px;
    background-size: 75%;
  }
  
}

@media screen and (max-width:1600px){
  header{
    padding: 0 20px;
    box-sizing: border-box;
  }
  .paddingT50 {
  padding-top: 3.125vw;
}
/* 비지니스 영역   */
  section#business div.wrap {
    padding-top: 9.375vw;
  }
  .paddingB100 {
    padding-bottom: 6.25vw;
  }
  main section:not(#office) .wrap{
    padding-left: 40px;
    padding-right: 40px;
  }
   section#business div.wrap h2{
    font-weight: 300;
  }
  section#business div.wrap article{
    padding: 6.25vw 0;
  }
  section#business div.wrap article h3 span{
    font-weight: 300;
    margin-top: 20px;
  }
  section#business div.wrap article p{
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  section#business div.wrap article a{
    width: 180px;
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  section#business div.wrap article:nth-of-type(1){
    padding-bottom: 15.5vw;
  }
  section#business div.wrap article:nth-of-type(1)::after{
    width: 53.75vw;
    height: 58.95vw;
    right: 0;
  }
  section#business div.wrap article:nth-of-type(2){
    padding-top: 12.5vw;
    padding-bottom: 12.5vw;
    padding-left: 56.5%;
  }
  section#business div.wrap article:nth-of-type(2)::after{
    width: 53.75vw;
    height: 61.5vw;
    top: -12.5vw;
    right: 0;
  }
  section#business div.wrap article:nth-of-type(2)::before{
    width: 48.5vw;
    height: 53.15vw;
    top: -80px;
  }
  section#business div.wrap article:nth-of-type(3){
    padding-top: 12.5vw;
    padding-bottom: 12.5vw;
    padding-left: 40px;
  }
 /*  그린 영역  */
  section#green div.wrap h2{
    font-weight: 300;
  }
/* 어바웃 카이 영역   */
  section#about div.wrap ul li p{
    color: #666;
  }
/* 채용 영역   */
  section#recor div.wrap article.recruit::before{
    width: 20.1875vw;
    height: 48.0625vw;
  }
  section#recor div.wrap article.recruit hgroup h2{
    padding-top: 11.25vw;
    padding-bottom: 11.25vw;
    padding-left: 6.25vw;
  }
  section#recor div.wrap article.recruit hgroup h3{
    margin-left: 6.25vw;
    margin-top: 6.25vw;
    margin-bottom: 1.875vw;
  }
  section#recor div.wrap article.recruit a.morecir{
    margin-bottom: 6.25vw;
    margin-top: 1.875vw;
  }
  .morecir{
    border: 1px solid #999;
  }
  .morecir::before{
    border-top: 1px solid #999;
    border-right: 1px solid #999;
  }
  section#recor div.wrap article.recruit > :not(hgroup){
    margin-left: 6.25vw;
  }
  section#recor div.wrap article.recruit p{
    color: #666;
  }
  section#recor div.wrap article.recruit::after{
    height: calc(100% - 25.588vw);
    background-color: rgba(255,255,255,0.8);
  }
  section#recor div.wrap article.corporate hgroup h2{
    gap: 10px;
    font-weight: 300;
  }
  section#recor div.wrap article.corporate hgroup h3{
    font-size: 16px;
  }
/*  주가정보 영역  */
  section#stockir div.wrap article.stock time{
    color: #aaaaaa;
    font-size: 13px;
  }
  section#stockir div.wrap article.stock p.up{
    color: #888888;
    font-size: 16px;
  }
  section#stockir div.wrap article.ir ul li a{
    color: #888888;
    font-size: 17px;
  }
/*  오피스 영역  */
  #office .wrap ul{
    height: 20.3125vw;
  }
/*  푸터 영역  */
  footer div.wrap{
    padding-right: 2.5vw;
    padding-left: 2.5vw;
  }
  footer div.wrap ul.fnb{
    
  }
  footer div.wrap ul.fnb li a{
    color: #aaaaaa;
    padding-right: 25px;
  }
  footer div.wrap address{
    font-size: 13px;
    line-height: 2;
  }
  footer div.wrap div.corp ul{
    transform: scale(0.8)
  }
  footer div.wrap p.copyright{
    color: #aaaaaa;
    font-size: 13px;
  }
  .padding50 {
  padding-top: 3.125vw;
  padding-bottom: 3.125vw;
}