div#title {
  background-image: url(../img/title.jpg);
  background-size: cover;
  /*! background-position: center; */
  background-repeat: no-repeat;
  min-height: 1160px;
}
div#title div.wrap {
  position: relative;
}
div#title div.wrap hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transform: translateY(-125px);
}
div#title div.wrap hgroup h2 {
  
}
div#title div.wrap hgroup h3 {
  text-transform: capitalize;
  font-weight: 100;
  font-size: 80px;
}
/* 배경 아이콘 처리 */
/* div#title div.wrap a.scroll {
  position: absolute;
  bottom: 20px;
  background-color: white;
} */
div#title div.wrap a.scroll {
  position: absolute;
  bottom: 300px;
  width: 80px;
  height: 80px;
  font-size: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes updown{
  0%{ /* 시작 */
    transform: translateY(0);
  }
  50%{
    transform: translateY(18px);
  }
  100%{ /* 끝  */
    transform: translateY(0px);
  }
}
@keyframes upddown{
  0%{ /* 시작 */
    transform: translateY(0px) rotate(45deg);
  }
  50%{
    transform: translateY(18px) rotate(45deg);
  }
  100%{ /* 끝  */
    transform: translateY(0px) rotate(45deg);
  }
}
div#title div.wrap a.scroll::before {
  content: "";
  border-left: 3px solid white;
  display: block;
  height: 30px;
  animation-name:updown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
div#title div.wrap a.scroll::after {
  content: "";
  border: 3px solid white;
  width: 15px;
  height: 15px;
  display: block;
  transform: rotate(45deg);
  border-left-color: transparent;
  border-top-color: transparent;
  margin-top: -21px;
  animation-name:upddown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
div#title div.wrap a.scroll span{
  
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
div#title div.wrap a.scroll span:nth-child(1){
  
  left: 0;
  top: 0;
  animation-name: one;
  width: 0;
}
@keyframes one{
  100%{
  width: 100%
  }
}
div#title div.wrap a.scroll span:nth-child(2){
  
  right: 0;
  top: 0;
  animation-name: two;
  animation-delay: 0.5s;
  height: 0;
}
@keyframes two{
  100%{
    height: 100%;
  }
}

div#title div.wrap a.scroll span:nth-child(3){
  
  right: 0;
  bottom: 0;
  animation-name: one;
  animation-delay: 1s;
  width: 0;
}
div#title div.wrap a.scroll span:nth-child(4){
  
  left: 0;
  bottom: 0;
  animation-name: two;
  animation-delay: 1.5s;
  height: 0;
}
/* 타이틀 마우스 스크롤 */
div#title .scroll-downs {
  position: absolute;
  top: 120px;
  right: 0;
  bottom: -610px;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
div#title .mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
div#title .scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1.7s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
div#title .scrollerspan{
  
  width: 90px;
  height: 20px;
  display: inline-block;
  font-size: 16px;
  color: rgb(204, 204, 204);
  left: -20px;
  position: absolute;
  top: 70px;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
